.fl {
  float: left;
}
.fr {
  float: right;
}
.myHeader {
  z-index: 1000;
  width: 100%;
  background: #fff;
  height: 65px;
  border-bottom: 1px solid #d4d5d6;
  position: fixed;
  top: 0;
}
.myHeader .headerBox {
  margin: 0 auto;
  height: 100%;
  z-index: 100;
}
.myHeader .headerBox .navLeft {
  float: left;
  height: 100%;
}
.myHeader .headerBox .navLeft .logo {
  width: 83px;
  height: 100%;
  float: left;
  vertical-align: middle;
}
.myHeader .headerBox .navLeft .logo img {
  display: inline-block;
  height: 43px;
  margin-top: 10px;
}
.myHeader .headerBox .navLeft .myNav {
  float: left;
  height: 100%;
}
.myHeader .headerBox .navLeft .myNav .nav {
  float: left;
  position: relative;
  margin: 0px 0 0 20px;
  display: inline-block;
  cursor: pointer;
}
.myHeader .headerBox .navLeft .myNav .nav:hover i {
  -webkit-transform: rotateZ(-180deg);
  -moz-transform: rotateZ(-180deg);
  -o-transform: rotateZ(-180deg);
  transform: rotateZ(-180deg);
}
.myHeader .headerBox .navLeft .myNav .nav .navBox {
  background: #ffffff;
  width: 70px;
  height: 26px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  margin: 19px 0 0 0px;
  text-align: center;
  font: 14px/26px "Microsoft YaHei", "Arial";
  color: #666666;
  cursor: pointer;
}
.myHeader .headerBox .navLeft .myNav .nav .navBox i {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url(../images/icon.png) no-repeat;
  margin: 0 0 0 5px;
  -moz-transition: -moz-transform 0.2s ease-out;
  -webkit-transition: -webkittransform 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}
.myHeader .headerBox .navLeft .myNav .nav .subNav {
  display: none;
  position: absolute;
  border: 1px solid #e0e0e0;
  padding: 35px 0;
  top: 60px;
  background: #ffffff;
  color: #444444;
  font: 13px/28px "Microsoft YaHei", "Arial";
  width: 470px;
}
.myHeader .headerBox .navLeft .myNav .nav .subNav .suvNav_a {
  float: left;
  width: 120px;
}
.myHeader .headerBox .navLeft .myNav .nav .subNav .suvNav_a li {
  padding: 0 0 0 30px;
  line-height: 13px;
  margin-bottom: 20px;
}
.myHeader .headerBox .navLeft .myNav .nav .subNav .bg_fff {
  width: 70px;
  border: 1px solid #e0e0e0;
  height: 16px;
  position: absolute;
  top: -16px;
  background: #ffffff;
  margin-left: -1px;
  border-bottom: 0;
  border-top: 0;
}
.myHeader .headerBox .navLeft .myNav .nav .subNav_b {
  float: left;
  border-left: 1px solid #e0e0e0;
}
.myHeader .headerBox .navLeft .myNav .nav .subNav_b ul {
  border-bottom: 1px  dashed  #E0E0E0;
  margin: 0 10px 15px 10px;
  padding: 0 50px 0 0px ;
}
.myHeader .headerBox .navLeft .myNav .nav .subNav_b ul li {
  float: left;
  border-right: 1px solid #e0e0e0;
  height: 13px;
  line-height: 13px;
  margin: 0 0 15px 0;
  padding: 0 15px;
}
.myHeader .headerBox .navLeft .myNav .search {
  float: left;
  border: 1px solid #c5c5c5;
  position: relative;
  display: inline-block;
  margin: 16px 0 0 50px;
}
.myHeader .headerBox .navLeft .myNav .search .searchBox {
  padding: 0 0 0 3px;
  height: 30px;
  border: none;
  font: 12px/30px "Microsoft YaHei", "Arial";
  outline: medium;
}
.myHeader .headerBox .navLeft .myNav .search .searchBtn {
  position: absolute;
  border: none;
  width: 38px;
  height: 30px;
  right: 0;
  cursor: pointer;
  background: url(../images/search_icon.png) center no-repeat;
  outline: medium;
}
.myHeader .headerBox .navRight {
  float: right;
}
.myHeader .headerBox .navRight .regBtn {
  float: left;
  display: inline-block;
  width: 52px;
  height: 28px;
  background: #f46;
  text-align: center;
  color: #ffffff;
  font: 13px/28px "Microsoft YaHei", "Arial";
  margin: 19px 22px 0 0;
  border-radius: 3px;
}
.myHeader .headerBox .navRight .signBtn {
  float: left;
  font: 13px/25px "Microsoft YaHei", "Arial";
  display: inline-block;
  height: 25px;
  margin: 20px 0 0 0;
  padding: 0 25px;
  border-right: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
  color: #444444;
}
.myHeader .headerBox .navRight .relLogin {
  display: inline-block;
  position: relative;
}
.myHeader .headerBox .navRight .relLogin:hover i {
  -webkit-transform: rotateZ(-180deg);
  -moz-transform: rotateZ(-180deg);
  -o-transform: rotateZ(-180deg);
  transform: rotateZ(-180deg);
}
.myHeader .headerBox .navRight .relLogin .relNum span {
  margin: 20px 25px;
  display: inline-block;
  font: 13px/25px "Microsoft YaHei", "Arial";
  color: #444444;
  float: left;
  height: 100%;
}
.myHeader .headerBox .navRight .relLogin .relNum .relNum_sina {
  margin: 12px 0 0 0px;
  display: inline-block;
  width: 40px ;
  height: 41px;
  background: url(../images/share_1.png) center no-repeat;
  background-size: 100%;
}
.myHeader .headerBox .navRight .relLogin .relNum .relNum_sina:hover {
  background: url(../images/share_1_1.png) center no-repeat;
}
.myHeader .headerBox .navRight .relLogin .relNum .relNum_qq {
  margin: 12px 10px;
  display: inline-block;
  width: 40px ;
  height: 41px;
  background: url(../images/share_2.png) center no-repeat;
  background-size: 100%;
}
.myHeader .headerBox .navRight .relLogin .relNum .relNum_qq:hover {
  background: url(../images/share_2_1.png) center no-repeat;
}
.myHeader .headerBox .navRight .relLogin .relNum i {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url(../images/icon.png) no-repeat;
  margin: 27px  0 0 5px;
  -moz-transition: -moz-transform 0.2s ease-out;
  -webkit-transition: -webkittransform 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}
.myHeader .headerBox .navRight .relLogin .relNum_more {
  display: none;
  border: 1px solid #e0e0e0;
  position: absolute;
  right: 0;
  background: #ffffff;
  cursor: pointer;
}
.myHeader .headerBox .navRight .relLogin .relNum_more li {
  float: left;
  width: 40px ;
  height: 41px;
  margin: 10px;
}
.myHeader .headerBox .navRight .relLogin .relNum_more .relNum_taobao {
  background: url(../images/share_3.png) center no-repeat;
  background-size: 100%;
}
.myHeader .headerBox .navRight .relLogin .relNum_more .relNum_taobao:hover {
  background: url(../images/share_3_1.png) center no-repeat;
}
.myHeader .headerBox .navRight .relLogin .relNum_more .relNum_weibo {
  background: url(../images/share_4.png) center no-repeat;
  background-size: 100%;
}
.myHeader .headerBox .navRight .relLogin .relNum_more .relNum_weibo:hover {
  background: url(../images/share_4_1.png) center no-repeat;
}
.myHeader .headerBox .navRight .relLogin .relNum_more .relNum_douban {
  background: url(../images/share_5.png) center no-repeat;
  background-size: 100%;
}
.myHeader .headerBox .navRight .relLogin .relNum_more .relNum_douban:hover {
  background: url(../images/share_5_1.png) center no-repeat;
}
.container {
  margin: 100px auto 40px;
}
.container .bannerBox {
  width: 100%;
}
.container .bannerBox .banner {
  position: relative;
  overflow: hidden;
  float: left;
}
.container .bannerBox .banner:hover .up_down {
  display: block;
}
.container .bannerBox .banner .bannerBar {
  width: 300%;
  position: absolute;
}
.container .bannerBox .banner .bannerBar .banner_img {
  float: left;
  position: relative;
}
.container .bannerBox .banner .bannerBar .banner_img span {
  z-index: 1000;
  position: absolute;
  font: 27px/64px "Microsoft YaHei", "Arial";
  color: #ffffff;
}
.container .bannerBox .banner .bannerBar .banner_img span strong {
  font: 14px/64px "Microsoft YaHei", "Arial";
  vertical-align: top;
}
.container .bannerBox .banner .banner_num {
  position: absolute;
}
.container .bannerBox .banner .banner_num .banner_bg {
  background: #000;
  opacity: .45;
  filter: alpha(opacity=45);
}
.container .bannerBox .banner .banner_num .banner_text {
  position: absolute;
}
.container .bannerBox .banner .banner_num .banner_text li {
  width: 15px;
  height: 15px;
  background: url(../images/num.png) no-repeat;
  background-size: 100%;
  float: left;
  margin-left: 5px;
}
.container .bannerBox .banner .banner_num .banner_text .cur {
  background: url(../images/num_hover.png) no-repeat;
  background-size: 100%;
}
.container .bannerBox .banner .up_down {
  display: none;
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -19px;
}
.container .bannerBox .banner .up_down .ban_up {
  margin-left: 20px;
  width: 21px;
  height: 38px;
  float: left;
}
.container .bannerBox .banner .up_down .ban_down {
  margin-right: 20px;
  width: 21px;
  height: 38px;
  float: right;
}
.container .bannerBox .sideBar {
  width: 468px;
  float: right;
}
.container .bannerBox .sideBar .side_up {
  background: #ffffff;
  height: 291px;
  border: 1px solid #DEDFE0;
}
.container .bannerBox .sideBar .side_up .side_up_con {
  padding: 14px 32px;
}
.container .bannerBox .sideBar .side_up .side_up_con h3 {
  font: 16px/16px "Microsoft YaHei", "Arial";
  border-bottom: 1px solid #ebebeb;
  height: 36px;
  color: #666666;
}
.container .bannerBox .sideBar .side_up .side_up_con .hot_list {
  border-bottom: 1px dashed #D2D2D2;
}
.container .bannerBox .sideBar .side_up .side_up_con .hot_list .list_a {
  margin-left: -20px;
  padding: 10px 0 18px;
}
.container .bannerBox .sideBar .side_up .side_up_con .hot_list .list_a a {
  display: inline-block;
  padding: 0 20px;
  border-right: 1px solid #ddd;
  font: 13px/13px "Microsoft YaHei", "Arial";
  color: #444444;
  margin-top: 8px;
}
.container .bannerBox .sideBar .side_up .side_up_con .hot_list .list_a a:hover {
  text-decoration: underline;
}
.container .bannerBox .sideBar .side_up .side_up_con .hot_list .list_a .list_tip {
  border-right: 0;
}
.container .bannerBox .sideBar .side_up .side_up_con .hot_list .list_a .tip_act {
  font: 13px/20px "Microsoft YaHei", "Arial";
  color: #ffffff;
  display: inline-block;
  width: 32px;
  height: 20px;
  background: #fb3;
  padding: 0;
  text-align: center;
  border-radius: 2px;
}
.container .bannerBox .sideBar .side_up .side_up_con .hot_list .list_a .tip_xuan {
  font: 13px/20px "Microsoft YaHei", "Arial";
  color: #ffffff;
  display: inline-block;
  width: 32px;
  height: 20px;
  background: #f46;
  padding: 0;
  text-align: center;
  border-radius: 2px;
}
.container .bannerBox .sideBar .side_up .side_up_con .hot_list .list_a span {
  display: inline-block;
  font: 13px/13px "Microsoft YaHei", "Arial";
  padding-left: 26px;
}
.container .bannerBox .sideBar .side_up .side_up_con .hot_list_a {
  border-bottom: 0;
}
.container .content {
  margin-top: 40px;
}
.container .content .content_con {
  border-top: 1px solid #D4D5D5;
  margin-bottom: 40px;
}
.container .content .content_con .con_title {
  margin: 25px 0;
  height: 28px;
}
.container .content .content_con .con_title h3 {
  font: 18px/28px "Microsoft YaHei", "Arial";
  float: left;
  color: #444444;
}
.container .content .content_con .con_title .rem {
  display: inline-block;
  float: right;
  color: #ffffff;
  height: 28px;
  width: 80px;
  border-radius: 2px;
  text-align: center;
  font: 13px/28px "Microsoft YaHei", "Arial";
  font-weight: 700;
  background: #22b4f6;
}
.container .content .content_con .main_con {
  width: 100%;
}
.container .content .content_con .main_con .con_list {
  width: 224px;
  float: left;
}
.container .content .content_con .main_con .con_list .imgBar {
  width: 222px;
  height: 222px;
  border: 1px solid #CED4C9;
  position: relative;
}
.container .content .content_con .main_con .con_list .imgBar:hover .img_hover {
  display: block;
}
.container .content .content_con .main_con .con_list .imgBar .img_hover {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  filter: alpha(opacity=10);
  -moz-opacity: 0.1;
  opacity: 0.1;
  width: 100%;
  height: 100%;
  display: none;
}
.container .content .content_con .main_con .con_list .imgBar_a {
  width: 222px;
  height: 112px;
  position: relative;
}
.container .content .content_con .main_con .con_list .imgBar_a .person_pho {
  position: absolute;
  top: 64px;
  left: 50%;
  margin-left: -46px;
}
.container .content .content_con .main_con .con_list .textBar {
  background: #ffffff;
  border: 1px solid #CED4C9;
  border-top: 0;
}
.container .content .content_con .main_con .con_list .textBar .text_a {
  height: 99px;
  margin: 0 10px;
}
.container .content .content_con .main_con .con_list .textBar .text_a .del_title {
  font: 13px/35px "Microsoft YaHei", "Arial";
  height: 35px;
  font-weight: 700;
  color: #444444;
}
.container .content .content_con .main_con .con_list .textBar .text_a .del_title:hover {
  text-decoration: underline;
}
.container .content .content_con .main_con .con_list .textBar .text_a p {
  color: #888;
  font: 12px/20px "Microsoft YaHei", "Arial";
  margin-top: 10px;
}
.container .content .content_con .main_con .con_list .textBar .text_a p .name {
  color: #888;
  font: 12px/20px "Microsoft YaHei", "Arial";
}
.container .content .content_con .main_con .con_list .textBar .text_a p .name:hover {
  text-decoration: underline;
}
.container .content .content_con .main_con .con_list .text_txt {
  height: 71px;
}
.container .content .content_con .main_con .con_list .text_txt .text_a p {
  margin-top: 5px;
}
.container .content .content_con .main_con .con_list .text_txt .text_a p span {
  float: left;
  display: inline-block;
  font: 12px/25px "Microsoft YaHei", "Arial";
}
.container .content .content_con .main_con .con_list .text_txt .text_a p a {
  display: inline-block;
  float: right;
  background: #fb3;
  width: 56px;
  height: 25px;
  font: 12px/25px "Microsoft YaHei", "Arial";
  color: #ffffff;
  text-align: center;
  border-radius: 2px;
}
.container .content .content_con .main_con .con_list .text_txt_a {
  height: 138px;
  text-align: center;
}
.container .content .content_con .main_con .con_list .text_txt_a .text_a .my_name {
  display: block;
  padding-top: 50px;
  color: #444444;
  font-weight: 700;
}
.container .content .content_con .main_con .con_list .text_txt_a .text_a .small_icon {
  margin: 5px 5px 0 0;
  display: inline-block;
  background: url(../images/dt_img_10.png) left no-repeat;
  background-size: 11px 17px;
}
.container .content .content_con .main_con .con_list .text_txt_a .text_a p strong {
  color: #444444;
  font-weight: normal;
}
.container .content .content_con .main_con .con_list .gray_bor {
  width: 220px;
  height: 1px;
  border-bottom: 1px solid #dedfe0;
  margin: 0 auto;
}
.container .content .content_con .main_con .con_list .gray_bor_a {
  width: 216px;
  height: 1px;
  border-bottom: 1px solid #dedfe0;
  margin: 0 auto;
}
.container .content .content_con .main_con .con_list_last {
  margin-right: 0;
}
.myFooter {
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .myHeader .headerBox {
    width: 1200px;
  }
  .myHeader .headerBox .search {
    width: 364px;
    height: 30px;
  }
  .myHeader .headerBox .search .searchBox {
    width: 322px;
  }
  .container {
    width: 1200px;
  }
  .container .banner {
    width: 712px;
    height: 445px;
  }
  .container .banner .bannerBar .banner_img {
    width: 712px;
    height: 445px;
  }
  .container .banner .bannerBar .banner_img span {
    bottom: 22px;
    left: 60px;
  }
  .container .banner .banner_num {
    position: absolute;
    bottom: 20px;
    left: 40px;
    width: 632px;
    height: 64px;
  }
  .container .banner .banner_num .banner_bg {
    background: #000;
    width: 632px;
    height: 64px;
    opacity: .45;
    filter: alpha(opacity=45);
    border-radius: 10px;
  }
  .container .banner .banner_num .banner_text {
    position: absolute;
    bottom: 27px;
    left: 500px;
  }
  .container .banner .banner_num .banner_text li {
    width: 15px;
    height: 15px;
    background: url(../images/num.png) no-repeat;
    background-size: 100%;
    float: left;
    margin-left: 5px;
  }
  .container .sideBar .side_up {
    margin-bottom: 18px;
  }
  .container .sideBar .side_down {
    border: 1px solid #DEDFE0;
    height: 130px;
    background: #ffffff;
    background: url(../images/dt_img_1.png) no-repeat;
  }
  .container .sideBar .side_down a {
    display: inline-block;
    padding: 8px 10px;
    background: #E84C3D;
    color: #ffffff;
    font: 14px/14px "Microsoft YaHei", "Arial";
    margin: 90px 0 0 208px;
  }
  .container .content .con_list {
    margin-right: 20px;
  }
}
@media screen and (max-width: 1280px) {
  .myHeader .headerBox {
    width: 960px;
  }
  .myHeader .headerBox .search {
    width: 270px;
    height: 30px;
  }
  .myHeader .headerBox .search .searchBox {
    width: 230px;
  }
  .container {
    width: 960px;
  }
  .container .banner {
    width: 468px;
    height: 293px;
  }
  .container .banner .bannerBar .banner_img {
    width: 468px;
    height: 293px;
  }
  .container .banner .bannerBar .banner_img span {
    display: inline-block;
    width: 468px;
    text-align: center;
    bottom: 22px;
  }
  .container .banner .banner_num {
    bottom: 0px;
    left: 0px;
    width: 468px;
    height: 80px;
  }
  .container .banner .banner_num .banner_bg {
    width: 468px;
    height: 80px;
  }
  .container .banner .banner_num .banner_text {
    bottom: 15px;
    left: 50%;
    margin-left: -30px;
  }
  .container .banner .banner_num .banner_text li {
    width: 15px;
    height: 15px;
    background: url(../images/num.png) no-repeat;
    background-size: 100%;
  }
  .container .side_down {
    margin-bottom: 0px;
  }
  .container .side_down a {
    color: #F1F2F3;
  }
  .container .content .content_con .main_con {
    width: 980px;
    overflow: hidden;
    height: 328px;
  }
  .container .content .content_con .main_con .con_list {
    margin-right: 21px;
  }
  .container .content .content_con .main_con_a {
    height: 296px;
  }
  .container .content .content_con .main_con_b {
    height: 253px;
  }
}
